* {
  font-family: candara;
  text-decoration: none;
}

header {
  background-color: #2f5a9e;
  width: 100%;
  display: inline-block;
  height: 150px;
  color: white;
}

body{
  background-image: url("images/background.jpg");
}

footer {
  color: white;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 80px;
  background-color: #2f5a9e;
  font-weight: bold;
}

/* Navbar */

h1 {
  float: left;
  color: white;
  padding-left: 15px;
  margin-top: 50px;
}

header li {
  overflow: hidden;
  font-weight: bold;
  padding-left: 50px;
  padding-right: 50px;
  display: inline-block;
  text-decoration: none;
}

header button {
  margin-top: 20px;
  font-weight: bold;
  font-size: 24px;
  border-radius: 8px;
  padding: 20px;
  vertical-align: middle;
  border-color: black;
  border-style: solid;
}

header button:hover {
  background-color: white;
  cursor: pointer;
  border-radius: 20px;
  transition:0.25s;
}



header li a {
  color: black;
}

header li:hover {
  color: white;
}

header button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.3s;
}

header button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

header button:hover span {
  padding-right: 25px;
}

header button:hover span:after {
  opacity: 1;
  right: 0;
}

@media(max-width:1360px) {
  .navbar {
    display: none;
  }
}

@media(min-width:1360px) {
  .dropbtn {
    display: none;
  }
}

.dropbtn {
  color: black;
  padding: 16px;
  border: none;
  cursor: pointer;
  align-self: center;
  background-color: white;
  font-size: 24px;
  vertical-align: middle;
  border-color: black;
  border-style: solid;
}

.dropbtn:hover,
.dropbtn:focus {
  background-color: white;
  color: black
}

.toggle {
  position: relative;
  float: right;
  margin-right: 25px;
  margin-top: 15px;
}

.dropdown-content {
 
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  font-size: 18px;
  border-radius: 8px;
  
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  
  
  
}

.dropdown-content a:hover {
  background-color: #ddd;
  font-weight: bold;
  
}

.show {
  display: block;
}

/* Login Page*/

.login {
  background-color: #2f5a9e;
  color: white;
  margin: 0 auto;
  width: 250px;
  padding: 20px;
  height: 420px;
  margin-top: 50px;
}

#loginform {
  width: 240px;
  text-align: center;
  padding-top: 10px;
}

#loginform input {
  width: 240px;
  text-align: center;
  border: none;
  border-bottom: 1px solid white;
  font-size: 16px;
  font-weight: 200px;
  padding: 10px 0;
  transition: border 0.5s;
  outline: none;
  color: black;
  border-radius: 8px;
  margin-top: 20px;
}

#loginform input[type=button] {
  border: none;
  width: 190px;
  background: white;
  color: black;
  font-size: 16px;
  line-height: 25px;
  padding: 10px 0;
  border-radius: 15px;
  cursor: pointer;
}

#loginform input[type=button]:hover {
  color: white;
  background: #2f5a9e
}

#loginform a {
  color: white;
  padding: 5px;
}

/* Signup Form */
.signup {
  padding: 40px;
  width: 250px;
  margin-top: 20px;
  height: 430px;
  margin: 0 auto;
  background: #2f5a9e;
  color: white;
}

.signup form {
  
  width: 240px;
  text-align: center;
}

.signup input {
  width: 240px;
  text-align: center;
  border: none;
  border-bottom: 1px solid black;
  font-weight: 200px;
  padding: 10px 0;
  transition: border 0.5s;
  outline: none;
  color: black;
  margin-top: 20px;
}

.signup input[type=button] {
  border: none;
  width: 190px;
  background: white;
  color: black;
  font-size: 16px;
  line-height: 25px;
  padding: 10px 0;
  border-radius: 15px;
  cursor: pointer;
}

.signup input[type=button]:hover {
  color: white;
  background-color: #2f5a9e;
}

.signup a {
  color: white;
  font-weight: bold;
}

/*Complete Questionnaire Form*/

#questions {
  padding-left: 5%;
}

#questions input {
  border-radius: 6px;
  width: 250px;
  font-size: 20px;
  border-color: black;
  border-style: double;
  text-align: center;
}
#questions input:hover {
  border-color: #2f5a9e;
  transform: scale(1.05);
  transition: 0.1s;
  margin-left:0.5%;
  
}

#questions li {

  font-size: 20px;
  list-style-type: none;
}

#questions h5 {
  color: black;
  font-size: 20px;


}

#resetButton, #submitButton{
cursor:pointer;
padding: 15px 32px;
margin-left:5%;
font-weight: bold;
margin-top:2%;
border-radius: 22px;
border-color: black;
font-size:20px;
}

#resetButton:hover, #submitButton:hover{
  transform: scale(1.1);
  transition: 0.2s;
  border-radius: 30px;
}

#resetButton:active, #submitButton:active{
  
    
    transform: translateY(2px);
  }

h2 {
  padding-left: 5%;
}